-   
    // TODO: nombre de variable PLATES
    var combos = {
        name: "Combos",
        category: "combos",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Grillroom Shawarma + gaseosa 500 ml",
                description: "Pan pita shawarma servido con papas fritas, ensalada y  gaseosa de 500 ml",
                price_uno: 42,
                price_dos: false,
                price_tres: false,
                link:"combo1.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO2",
                    extention: ".jpg"
                },
                text: "Grillroom Gyros y gaseosa de 500 ml",
                description: "Tortillas con carne de cerdo, res ó pollo, acompañadas de lechuga, tomate, cebolla, morrón y champiñones, aderezados con salsas de coctel picante y salsa de ajo, servido con papas fritas, ensalada y gaseosa de 500 ml.",
                price_uno: 42,
                price_dos: false,
                price_tres: false,
                link:"combo2.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO3",
                    extention: ".jpg"
                },
                text: "Grillroom Combo",
                description: "Shawarma &quot;M&quot;  y Gyros &quot;M&quot; con carne de cerdo, res ó pollo acompañadas de lechuga y tomate, aderezados con salsas, servidos con papas fritas, ensalada y gaseosa de 500 ml.",
                price_uno: 49,
                price_dos: false,
                price_tres: false,
                link:"combo3.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO4",
                    extention: ".jpg"
                },
                text: "Greek Grillroom Combo",
                description: "Souvlaki: 3 brochetas de carne cerdo, res ó pollo, servido con salsa tzaziki + Mousaka; berenjenas al horno gratinadas con base de papa, rellena de carne de res, vegetales y salsa de tomate servido con gaseosa de 500 ml.",
                price_uno: 64,
                price_dos: false,
                price_tres: false,
                link:"combo4.html",
                status: true
            }
        ]
    }